# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @chloezxyy @fullstackninja864 @pierregee @lykalabrada
/.husky/                                        @chloezxyy @fullstackninja864 @pierregee @lykalabrada

/src/                                           @chloezxyy @fullstackninja864 @pierregee @lykalabrada

/src/styles/                                    @chloezxyy @fullstackninja864 @pierregee @lykalabrada
postcss.config.js                               @chloezxyy @fullstackninja864 @pierregee @lykalabrada
tailwind.config.js                              @chloezxyy @fullstackninja864 @pierregee @lykalabrada

/public/                                        @chloezxyy @fullstackninja864 @pierregee @lykalabrada

next.config.js                                  @chloezxyy @fullstackninja864 @pierregee @lykalabrada
package.json                                    @chloezxyy @fullstackninja864 @pierregee @lykalabrada
package-lock.json                               @chloezxyy @fullstackninja864 @pierregee @lykalabrada
tsconfig.json                                   @chloezxyy @fullstackninja864 @pierregee @lykalabrada

CONTRIBUTING.md                                 @chloezxyy @fullstackninja864 @pierregee @lykalabrada
README.md                                       @chloezxyy @fullstackninja864 @pierregee @lykalabrada
LICENSE                                         @chloezxyy @fullstackninja864 @pierregee @lykalabrada
