# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh

/src/components/                                @fuxingloh
/src/layouts/                                   @fuxingloh
/src/store/                                     @fuxingloh

/src/pages/                                     @fuxingloh

/src/styles/                                    @fuxingloh
postcss.config.js                               @fuxingloh
tailwind.config.js                              @fuxingloh

/public/                                        @fuxingloh

next.config.js                                  @fuxingloh
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
tsconfig.json                                   @fuxingloh

CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
