{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "func-style": [2, "declaration"],
    "no-void": "off",
    "import/no-default-export": "error"
  },
  "overrides": [
    {
      "files": ["src/pages/**.tsx"],
      "rules": {
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    }
  ]
}
