{
  "parserOptions": {
    "project": "./cypress/tsconfig.json"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "plugin:cypress/recommended"
  ],
  "plugins": ["prettier"],
  "ignorePatterns": ["**/plugins/*.ts", "**/support/*.ts"],
  "rules": {
    "cypress/unsafe-to-chain-command": "off",
    "no-plusplus": "warn",
    "radix": "warn"
  }
}
